name: Release and Docker Build

on:
  push:
    tags:
      - 'v*.*.*'   # se déclenche quand un tag version est poussé
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t myapp:latest .
          docker tag myapp:latest myuser/myapp:latest

      - name: Tag and push versioned image
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          docker tag myapp:latest myuser/myapp:$VERSION
          docker push myuser/myapp:latest
          docker push myuser/myapp:$VERSION
